In [6]:
import pandas as pd

<p>The data set split the data into a training and test sets, considering we may want to allocate those ourselves later we will combine the two.</p>

In [30]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)
test  = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test',skiprows=[0],sep=',', header=None)
data = data.append(test)
data.rename(columns={0: "Age",1: "Workclass",2:"Final Weight",3:"Education",4:"education-num",5:"Marital-status",6:"Occupation",7:"Relationship",8:"Race",9:"Sex",10:"Capital-gain",11:"Capital-loss",12:"Hours/week",13:"Native Country",14:"Result"},inplace = "True")
print(data.head(5))

   Age          Workclass  Final Weight   Education  education-num  \
0   39          State-gov         77516   Bachelors             13
1   50   Self-emp-not-inc         83311   Bachelors             13
2   38            Private        215646     HS-grad              9
3   53            Private        234721        11th              7
4   28            Private        338409   Bachelors             13

        Marital-status          Occupation    Relationship    Race      Sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   Capital-gain  Capital-loss  Hours/week  Native Country  Result
0          2174             0          40   United-States   <=50K
1             0             0          13   United-States   <=50K
2             0             0          40   United-States   <=50K
3             0             0          40   United-States   <=50K
4             0             0          40            Cuba   <=50K

In [ ]:
def cleanData(data):
    #For a start, remove all rows where data is missing. 
    da